/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
		background-color:#f0f1f3;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	tr{
		cursor:move;
	}
	
	table{
		position:relative
	}
	
	p,h1,h2,h3,h4,h5,a{
		position:relative;
	}
	
	li{
		list-style-type:none;padding:0;
	}
	
	ul{
		padding:0;
		margin:0;
	}
	
	#header{
		margin-bottom: 40px;
		background-color: rgb(53, 68, 74);
		position: fixed;
		top:0;
		height: 100%;
		padding: 12px 13px 10px 12px;
	}

	#header img{
		width: 30px;
	}
	
	#headerMenu{
		height: 100%;
		background-color: rgb(45, 54, 58);
		position: absolute;
		width: 200px;
		left: -200px;
		top: 0;
	}
	
	.activeHover{
		outline-style: dashed !important;
		outline-color: #cacaca;
		outline-width: 1px;
	}
	
	.toolbox{
		position:absolute;
		left:-80px;
		top:0;
	}
	
	.editIcon{
		background-color: rgb(105, 125, 177);
		position: absolute;
		right: 4px;
		font-size: 11px;
		cursor: pointer;
		font-weight: normal;
		color: white;
		font-style:normal;
		text-transform:none;
		top: 4px;
		border-radius: 2px;
		padding: 2px 10px;
	}
	
	.tDelete,.tClone{
		margin-bottom: 6px;
		background-color: rgb(105, 125, 177);
		right: 4px;
		font-size: 11px;
		cursor: pointer;
		font-weight: normal;
		color: white;
		font-style:normal;
		text-transform:none;
		top: 4px;
		border-radius: 2px;
		padding: 2px 10px;
	}
	
	.ui-dialog{
		width:500px !important;
	}
	
	.templateB img{
		width: 17px !important;
		opacity: 0.7;
		margin-left: 6px;
	}
	
	.templateB img:hover{
		opacity:1
	}
	
	.templateB{
		margin-top: 20px;
		display: block;
	}

	.colourB img{
		width: 17px !important;
		opacity: 0.7;
		margin-left: 6px;
	}
	
	.colourB img:hover{
		opacity:1
	}
	
	.colourB{
		margin-top: 20px;
		display: block;
	}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}