<table  cellpadding="0" cellspacing="0" id="sort" width="600" style="margin:0 auto;background-color:white;box-shadow: 0px 0px 10px rgb(205, 205, 205)">
		<tr>
			<td>
				<ul>
					<li>
						<table  cellpadding="0"  class="sTable" cellspacing="0" width="600" style="margin:0 auto;background-color:white;">
							<tbody>
								<tr>
									<td colspan="2" style="text-align:center;padding: 25px;">
										<img src="img/logo.png" alt="">
									</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						<table  class="sTable"  cellpadding="0" cellspacing="0" width="600" style="margin:0 auto;background-color:white;">
							<tr style="width: 100%;max-width: 600px;background-image: url(img/splash.png);background-color: rgb(40, 36, 34);background-size: 600px 100%;background-position: 50% 0%;background-repeat: no-repeat;">
								<td  colspan="2" >
									<table width="600">
										<tr>
											<td style="padding: 15px 10px 15px 15px;width: 10px;">
												<img src="img/star.png" alt="">
											</td>
											<td>
												<h2 style="margin-top: 17px;font-size:14px;color:white;">FEATURED COLLECTION</h2>
											</td>
										</tr>
										<tr>
											<td  colspan="2"  style="text-align:center">
												<h1 style="font-size: 27px;color: white;margin: 50px 0px 0px 0px;line-height: 17px;">What is the best Sci-Fi TV Series?</h1>
												<p style="font-size:11px;color:white;">Started by <a style="color:#5ebdc9" href="">Tigerworm</a></p>
											</td>
										</tr>
										<tr>
											<td colspan="2"  style="text-align:center">
												<a href=""><img style="margin: 20px 0px;" src="img/voteLarge.png" alt=""></a>
											</td>
										</tr>
										<tr>
											<td colspan="2" style="text-align:right;padding: 0px 15px;">
												<p style="font-size:11px;color:white;"><img style="position: relative;margin-right: 6px;top: -1px;" src="img/voteTiny.png" alt="" />123 Votes <img style="position: relative;margin-right: 6px;top: -1px;margin-left: 10px;" src="img/collectionTiny.png" alt="" />256 Items</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table  cellpadding="0" cellspacing="0" class="sTable" width="600" style="margin:0 auto;background-color:white;">
							<tbody>
								<tr>
									<td style="padding: 0px 15px;" colspan="2" >
										<hr style="border-top: 1px solid #EAEAEA;"/>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="text-align:center;" >
										<h1 style="color:#2d2d2d;font-size:14px;margin: 0;">RECENT COLLECTIONS</h1>
									</td>
								</tr>
								<tr>
									<td  style="padding: 0px 15px;" colspan="2" >
										<hr style="border-top: 1px solid #EAEAEA;"/>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						<table  class="sTable" style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left">
									<table>
										<tr>
											<td style="padding: 0px 0px 0px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/tempItem.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:-1px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best metal band?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Jamie Coulter</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 25px 15px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
								<td align="right">
									<table>
										<tr >
											<td style="padding: 0px 15px 0px 0px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp2.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:14px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best season of Walking Dead?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Steven Marshall</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 0px 25px 0px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table class="sTable"  style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left">
									<table>
										<tr >
											<td style="padding: 0px 0px 0px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp3.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:-1px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best Harry Potter film?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Douglas232</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 25px 15px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
								<td align="right">
									<table>
										<tr >
											<td style="padding: 0px 15px 0px 0px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp4.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:14px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best Dreamworks film?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Ricolas</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 0px 25px 0px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table class="sTable"  style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left">
									<table>
										<tr >
											<td style="padding: 0px 0px 0px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp5.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:-1px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best TV Series?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Chimpman34223</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 25px 15px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
								<td align="right">
									<table>
										<tr >
											<td style="padding: 0px 15px 0px 0px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp6.png" style="width: 100%;" alt="" />
												<img style="position:absolute;top:-1px;right:14px;" src="img/newBanner.png" alt="" />
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<h3 style="color: #272727;font-size: 12px;margin: 15px 0px -8px 0px;">What is the best Game of Thrones?</h3>
												<p style="font-size:11px;color:#7d7d7d;">Started by <a href="" style="color:#5ebdc9">Jamie Coulter</a></p>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 15px 0px 0px;">
												<hr style="border-top: 1px solid #EAEAEA;margin: 0px"/>
											</td>
										</tr>
										<tr>
											<td style="padding: 0px 0px 25px 0px;">
												<a href=""><img style="margin: 13px 0px 0px 0px" src="img/voteButton.png" alt="" /></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table  cellpadding="0" cellspacing="0" class="sTable" width="600" style="margin:0 auto;background-color:white;">
							<tbody>
								<tr>
									<td style="padding: 0px 15px;" colspan="2" >
										<hr style="border-top: 1px solid #EAEAEA;"/>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="text-align:center;" >
										<h1 style="color:#2d2d2d;font-size:14px;margin: 0;">RECENT NEWS</h1>
									</td>
								</tr>
								<tr>
									<td  style="padding: 0px 15px;" colspan="2" >
										<hr style="border-top: 1px solid #EAEAEA;"/>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						<table class="sTable"  style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left" style="width:300px;">
									<table>
										<tr >
											<td style="padding: 0px 0px 15px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp5.png" style="width: 100%;" alt="" />
											</td>
										</tr>	
										<tr>
											<td>
											</td>
										</tr>					
									</table>
								</td>
								<td align="right" style="width:300px;" valign="top">
									<table>
										<tr >
											<td style="padding: 0px 15px 15px 15px;position:relative;">
												<h1 style="color: #2d2d2d;margin:0;font-size: 14px;">New features added to absbest!</h1>
												<p style="font-size: 11px;color: #7d7d7d;line-height: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla varius leo, quis volutpat neque consequat id. Praesent suscipit, orci sit amet pretium molestie, justo elit rhoncus mauris, a accumsan ipsum magna sit amet nulla. Proin bibendum nisi eu ante lacinia pharetra...</p>
												<p><a href="" style="font-size: 12px;color: rgb(66, 117, 174);">Read more</a></p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table class="sTable"  style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left" style="width:300px;">
									<table>
										<tr >
											<td style="padding: 0px 0px 15px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp5.png" style="width: 100%;" alt="" />
											</td>
										</tr>	
										<tr>
											<td>
											</td>
										</tr>					
									</table>
								</td>
								<td align="right" style="width:300px;" valign="top">
									<table>
										<tr >
											<td style="padding:0px 15px 15px 15px;position:relative;">
												<h1 style="color: #2d2d2d;margin:0;font-size: 14px;">New features added to absbest!</h1>
												<p style="font-size: 11px;color: #7d7d7d;line-height: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla varius leo, quis volutpat neque consequat id. Praesent suscipit, orci sit amet pretium molestie, justo elit rhoncus mauris, a accumsan ipsum magna sit amet nulla. Proin bibendum nisi eu ante lacinia pharetra...</p>
												<p><a href="" style="font-size: 12px;color: rgb(66, 117, 174);">Read more</a></p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table class="sTable"  style="width: 600px;background-color: white;margin: 0 auto;">
							<tr>
								<td align="left" style="width:300px;">
									<table>
										<tr >
											<td style="padding: 0px 0px 15px 15px;position:relative;">
												<img style="border-radius: 2px;" src="img/itemTemp5.png" style="width: 100%;" alt="" />
											</td>
										</tr>	
										<tr>
											<td>
											</td>
										</tr>					
									</table>
								</td>
								<td align="right" style="width:300px;" valign="top">
									<table>
										<tr >
											<td style="padding: 0px 15px 15px 15px;position:relative;">
												<h1 style="color: #2d2d2d;margin:0;font-size: 14px;">New features added to absbest!</h1>
												<p style="font-size: 11px;color: #7d7d7d;line-height: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla varius leo, quis volutpat neque consequat id. Praesent suscipit, orci sit amet pretium molestie, justo elit rhoncus mauris, a accumsan ipsum magna sit amet nulla. Proin bibendum nisi eu ante lacinia pharetra...</p>
												<p><a href="" style="font-size: 12px;color: rgb(66, 117, 174);">Read more</a></p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</li>
				</ul>
				<table  class="sTable" width="600" style="background-color:#5ebdc9;">
					<tr>	
						<td style="width: 200px;text-align: center;color: white;padding: 25px 0px 30px 0px;">
							<img style="margin: 13px 0px 0px 0px" src="img/voteWhite.png" alt="" />
							<p style="font-weight:bold;font-size:15px;margin: 10px 0px 0px 0px;">23,574</p>
							<p style="font-size:12px;margin:0;">Votes</p>
						</td>
						<td style="width: 200px;text-align: center;color: white;padding: 25px 0px 30px 0px;">
							<img style="margin: 13px 0px 0px 0px" src="img/userWhite.png" alt="" />
							<p style="font-weight:bold;font-size:15px;margin: 10px 0px 0px 0px;">19,537</p>
							<p style="font-size:12px;margin:0;">Users</p>
						</td>
						<td style="width: 200px;text-align: center;color: white;padding: 25px 0px 30px 0px;">
							<img style="margin: 13px 0px 0px 0px" src="img/collectionWhite.png" alt="" />
								<p style="font-weight:bold;font-size:15px;margin: 10px 0px 0px 0px;">553,662</p>
								<p style="font-size:12px;margin:0;">Collections</p>
						</td>
					</tr>
				</table>
				<table width="600" style="background-color:#5ebdc9;">
					<tr>
						<td style="padding: 0px 15px 0px 15px;">
							<hr style="border-top: 1px solid #fff;margin: 0px"/>
						</td>
					</tr>
				</table>
				<table width="600" style="background-color:#5ebdc9;">
					<tr>
						<td>
							<p style="text-align: center;color: white;font-size: 13px;">Follow us</p>
						</td>
					</tr>
				</table>
				<table width="600" style="background-color:#5ebdc9;">
					<tr>
						<td style="padding: 0px 15px 0px 15px;">
							<hr style="border-top: 1px solid #fff;margin: 0px"/>
						</td>
					</tr>
				</table>
				<table width="600" style="background-color:#5ebdc9;">
					<tr>
						<td style="color:white;text-align:center;font-size:11px;padding: 10px 0px 20px 0px;">
							<p>Copyright Absolutely Best 2014. All rights reserved worldwide.</p>
							<a  style="text-decoration:none;color:white;" href="/">Home</a> . 
							<a style="text-decoration:none;color:white;" href="/about"> About</a> .
							<a style="text-decoration:none;color:white;" href="/contact"> Contact</a> .
							<a style="text-decoration:none;color:white;" href="/terms"> Terms &amp; Conditions</a> . 
							<a style="text-decoration:none;color:white;" class="feedbackPopup" href="/#"> Feedback</a> . 
							<a style="text-decoration:none;color:white;" href="/register">Register</a> .
							<a style="text-decoration:none;color:white;" href="/sitemap"> Sitemap</a>
						</td>
					</tr>
				</table>
			</tbody>
		</table>  